/* Colors
-------------------------------------------------------------------------------*/
black = rgb(27, 27, 29)

charcoal_light = rgb(60, 60, 62)
charcoal_dark = rgb(50, 50, 52)
charcoal_modal = rgba(50, 50, 54, 0.7)

charcoal_light_border = rgb(69, 69, 71) //rgb(65, 65, 67)
charcoal_dark_border = charcoal_light //rgb(56, 56, 58)

gray_light = rgb(179, 179, 179)
gray_dark = rgb(128, 128, 128)

white_border = rgb(225, 225, 225)
tab_border = rgb(230, 230, 230)


/* Utilities
-------------------------------------------------------------------------------*/
grid_width(size)
	return 3 if size is 1
	return 8 if size is 2
	return 13 if size is 3
	return 18 if size is 4
	return 23 if size is 5
	return 28 if size is 6
	return 33 if size is 7
	return 38 if size is 8
	return 43 if size is 9
	return 48 if size is 10
	return 53 if size is 11
	return 58 if size is 12
	return 63 if size is 13
	return 68 if size is 14
	return 73 if size is 15
	return 78 if size is 16
	return 83 if size is 17
	return 88 if size is 18
	return 93 if size is 19
	return 98 if size is 20



/* Fonts
-------------------------------------------------------------------------------
100 = thin
200 = extra-light
300 = light
400 = normal, book
500 = medium
600 = demi-bold
700 = bold
800 = heavy
900 = black

Caption: design size 8.0 points, for use from 1.0 to 8.4 points
Body Text: design size 11.0 points, for use from 8.4 to 12.9 points
Subhead: design size 18.0 points, for use from 12.9 to 25.9 points
Display: design size 72.0 points, for use from 25.9 to 99.9 points

*/
// Heuristica
@font-face
	font-family: "Heuristica"
	font-style: normal
	src: url("../fonts/Heuristica-Regular.woff")

@font-face
	font-family: "Heuristica"
	font-style: italic
	src: url("../fonts/Heuristica-RegularItalic.woff")

@font-face
	font-family: "Heuristica"
	font-style: normal
	font-weight: bold
	src: url("../fonts/Heuristica-Bold.woff")

@font-face
	font-family: "Heuristica"
	font-style: italic
	font-weight: bold
	src: url("../fonts/Heuristica-BoldItalic.woff")

// Gotham ScreenSmart
@font-face
	font-family: "Gotham ScreenSmart"
	font-style: normal
	font-weight: 300
	src: url("../fonts/GothamScreenSmartLight.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: italic
	font-weight: 300
	src: url("../fonts/GothamScreenSmartLightItalic.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: normal
	src: url("../fonts/GothamScreenSmartBook.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: italic
	src: url("../fonts/GothamScreenSmartBookItalic.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: normal
	font-weight: 500
	src: url("../fonts/GothamScreenSmartMedium.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: italic
	font-weight: 500
	src: url("../fonts/GothamScreenSmartMediumItalic.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: normal
	font-weight: 700
	src: url("../fonts/GothamScreenSmartBold.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: italic
	font-weight: 700
	src: url("../fonts/GothamScreenSmartBoldItalic.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: normal
	font-weight: 900
	src: url("../fonts/GothamScreenSmartBlack.woff")

@font-face
	font-family: "Gotham ScreenSmart"
	font-style: italic
	font-weight: 900
	src: url("../fonts/GothamScreenSmartBlackItalic.woff")


// Gotham Narrow ScreenSmart
@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: normal
	font-weight: 300
	src: url("../fonts/GothamNarrowScreenSmartLight.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: italic
	font-weight: 300
	src: url("../fonts/GothamNarrowScreenSmartLightItalic.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: normal
	src: url("../fonts/GothamNarrowScreenSmartBook.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: italic
	src: url("../fonts/GothamNarrowScreenSmartBookItalic.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: normal
	font-weight: 500
	src: url("../fonts/GothamNarrowScreenSmartMedium.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: italic
	font-weight: 500
	src: url("../fonts/GothamNarrowScreenSmartMediumItalic.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: normal
	font-weight: 700
	src: url("../fonts/GothamNarrowScreenSmartBold.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: italic
	font-weight: 700
	src: url("../fonts/GothamNarrowScreenSmartBoldItalic.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: normal
	font-weight: 900
	src: url("../fonts/GothamNarrowScreenSmartBlack.woff")

@font-face
	font-family: "Gotham Narrow ScreenSmart"
	font-style: italic
	font-weight: 900
	src: url("../fonts/GothamNarrowScreenSmartBlackItalic.woff")



/* Basics
-------------------------------------------------------------------------------*/
*
	margin: 0
	padding: 0
	border: 0
	font-size: 100%
	font-weight: normal
	background: transparent
	vertical-align: top


html
	height: 100%
	background: white
	font-family: "Gotham Narrow ScreenSmart"
	font-size: (10/16)*100%
	overflow-y: scroll

body
	min-height: 100%
	font-size: 10px
	line-height: 15px
	text-rendering: optimizeLegibility
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none
	color: charcoal_light
	background: black



/* Typography Styles
-------------------------------------------------------------------------------*/
sans(style, color)
	font-family: "Gotham ScreenSmart"
	font-size: 11px
	line-height: 20px
	text-transform: none

	if style is short
		font-size: 10px
		line-height: 16px

	if style is tall
		font-size: 10px
		font-weight: 500
		line-height: 16px
		text-transform: uppercase

	if style is grande
		font-size: 11px
		font-weight: 500
		line-height: 16px
		text-transform: uppercase

	if style is venti
		font-size: 14px
		font-weight: 500
		line-height: 20px
		text-transform: uppercase

	if color is light
		font-weight: 400

serif(style, color, alt = false)
	font-family: "Heuristica"
	font-size: 12px
	font-weight: 300
	line-height: 16px

	if style is short
		font-size: 10px
		line-height: 15px
		font-style: italic

	if style is tall
		font-size: 13px
		line-height: 18px
		font-style: italic

	if style is grande
		font-size: 18px
		line-height: 21px

	if alt is true
		font-style: italic

value(style, color)
	font-family: "Gotham Narrow ScreenSmart"

	if style is normal
		font-size: 18px
		line-height: 18px
		font-weight: 500

		.fa-btc
			font-size: 16px
			margin-right: 02px


	if style is short
		font-size: 12px
		line-height: 12px
		font-weight: 400

		.fa-btc
			font-size: 10px
			margin-right: 0.150px

	if style is tiny
		font-size: 10px
		line-height: 10px
		font-weight: 500

	if style is tall
		font-size: 24px
		line-height: 24px
		font-weight: 500

		.fa-btc
			font-size: 22px
			margin-right: 0.250px

	if style is grande
		font-size: 36px
		line-height: 36px
		font-weight: 700

		.fa-btc
			font-size: 34px
			margin-right: 0.250px

	if style is venti
		font-size: 40px
		line-height: 40px
		font-weight: 700
		font-family: "Gotham ScreenSmart"

inline()
	display: inline
	padding-right: 10px

a[title="JavaScript charts"]
	display: none!important



/* Layout Elements
-------------------------------------------------------------------------------*/
// Generators -------------------- //
page_element()
	display: block
	width: 100%

module(size = 2)
	width: grid_width(size) * 10px
	margin: 10px
	text-align: left
	overflow: hidden
	background: white
	border-radius: 5px
	background: rgba(230, 230, 230, 0.25)

button(size = normal, color = charcoal)
	display: inline-block
	cursor: pointer

	if color is charcoal
		color: gray_dark
		background: charcoal_light

		&:hover
			background: gray_dark
			color: black

	if color is charcoal_line
		color: gray_dark
		background: charcoal_dark
		border: 1px solid charcoal_light_border

	if color is white
		color: gray_dark
		background: white
		border: 1px solid white_border

	if color is gray
		background: gray_light
		//border: 1px solid gray_dark

	if color is blue
		color: white
		background: light_blue

	if size is normal
		margin: 30px
		height: 16px
		padding: 12px 30px
		sans(grande, light)

	if size is big
		margin: 30px
		height: 16px
		padding: 17px 30px
		sans(venti, dark)
		line-height: 14px
		font-weight: 600

	if size is small
		margin: 2em
		height: 4px
		padding: 12px 30px
		sans(tall, dark)
		line-height: 05px

	if size is tiny
		margin: 0.5em
		height: 19px
		sans(short, dark)
		line-height: 19px

	border-radius: 100px

input
	display: inline-block
	height: 18px
	margin-top: 12px
	padding: 8px 20px
	float: left
	sans(grande, light)
	line-height: 18px
	text-align: center
	color: white
	resize: none
	border-radius: 5px
	border: none
	background: charcoal_light

	&[placeholder]:empty:before
		color: gray_dark

	&[type=number]::-webkit-inner-spin-button
	&[type=number]::-webkit-outer-spin-button
		  -webkit-appearance: none
		  margin: 0

checkbox(color = "dark")
	width: 20px
	height: 20px
	margin-right: 10px
	sans(grande, light)
	border-radius: 5px
	border: none
	background: charcoal_light

	if color = "light"
		background: white_border

dark_scroll()
	&::-webkit-scrollbar
		width: 7.5px

	&::-webkit-scrollbar-track
		background: charcoal_dark_border

	&::-webkit-scrollbar-thumb
		background: charcoal_light_border
		border-radius: 10px

no_select()
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

//Styles ------------------------ //
main
	display: block
	width: 1000px
	margin 0 auto
	overflow: auto

	*
		&[placeholder]:empty:before
			content: attr(placeholder)

section
aside
	display: block
	overflow: hidden
	min-height: 20px

	*
		display: inline-block
		cursor: default

		&[contenteditable = "true"]
			cursor: text

section
	width: 700px
	float: right

aside
	width: 300px
	float: left

header
	height 80px
	width: 100%
	padding: 30px
	text-align: center
	sans(venti, light)

.modal
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: charcoal_modal

	message
		position: fixed
		top: 50%
		left: 50%
		width: 20px
		height: 20px
		transform: translate(-50%, -50%)
		background: white
		border-radius: 5px

.metric
	position: relative
	border-bottom: 1px solid charcoal_dark_border

	.icon
		float: left
		opacity: 0.4

	label
		width: 55%
		color: gray_light

	.value
		display: inline-block
		height: auto
		width: auto
		margin: 0
		padding: 0
		float: none
		sans(grande, light)
		text-align: left
		color: white
		resize: none
		border-radius: 5px
		border: none
		background: none

	mark
		color: gray_dark

	&.normal
		width: 220px
		height: 50px
		padding: 30px
		float: left
		clear: left

		.icon
			width: 50px
			height: 50px
			margin-right: 20px

		label
			width: 65%
			serif(tall, dark, true)

		.value
			value(grande, dark)
			width: 100px
			&[placeholder]:empty:before
				color: gray_dark

		mark
			margin: 16px 0 0 0.250px
			value(normal, dark)

	&.small
		width: 99px
		height: 30px
		padding: 20px
		float: left
		border-right: 1px solid charcoal_dark_border

		.icon
			width: 30px
			height: 30px
			margin-right: 09px

		label
			serif(short, dark, true)

		.value
			max-width: 47px
			value(normal, dark)

			&[placeholder]:empty:before
				color: gray_light

		mark
			margin: 05px 0 0 -01px
			value(short, dark)
			font-size: 10px

		&.editable
			border-right: 1px solid white_border

	&.editable
		background: white
		border-bottom: 1px solid white_border

		.icon
			opacity: 1

		label
			color: gray_dark

		.value
			color: charcoal_light

		.mark
			color: gray_light

.choices
	position: absolute
	width: 80%
	background: black
	border-radius: 0.250px
	box-shadow: 0 0 20px black

	header
	.choice
		display: block
		padding: 10px 20px

	header
		height: auto
		background: charcoal_light
		serif(tall, dark)
		text-transform: none
		color: gray_light
		border-radius: 0.250px 0.250px 0 0

	.choice
		sans(tall, light)
		color: gray_light
		cursor: pointer
		border-bottom: 1px solid charcoal_light

		&:last-child
			border: none

		&:hover
			background: gray_dark
			color: white

	&.active
		display: block

.height .icon
	background: url("../images/icon-height.png")
	background-size: cover

.weight .icon
	background: url("../images/icon-weight.png")
	background-size: cover

.bodyfat .icon
	background: url("../images/icon-bodyfat.png")
	background-size: cover

.offset .icon
	background: url("../images/icon-offset.png")
	background-size: cover

.lean_body_mass .icon
	background: url("../images/icon-lean_mass.png")
	background-size: cover

.fat_free_mass_index .icon
	background: url("../images/icon-fat_free_mass_index.png")
	background-size: cover

#zoomout
	width: 0
	height: 0

.tooltip
	position: absolute
	left: -13%
	width: 250 - 40px
	height: 100 - 40px
	padding: 20px
	sans(short, light)
	height: auto
	background: charcoal_dark
	color: gray_light
	text-align: justify
	z-index: 9999
	border-radius: 05px

	&.top
		bottom: 105%

	&.ng-hide-add.ng-hide-add-active
	&.ng-hide-remove.ng-hide-remove-active
		-webkit-transform: translate3d(0,-10px,0)
		transform: translate3d(0,-10px,0)
		-webkit-transition: opacity 0.3s, -webkit-transform 0.3s
		transition: opacity 0.3s, transform 0.3

	&.ng-hide
		opacity: 0

	&::after
		position: absolute
		content: ''
		top: 100%
		left: 50%
		border: solid transparent
		border-color: transparent
		border-top-color: charcoal_dark
		border-width: 10px
		margin-left: -10px

	strong
		color: white
		padding-right: 05px

//Elements ------------------------ //
.protocol
	module(14)
	float: right
	background: charcoal_dark

	nav
		width: 680px
		height: 50px
		display: table
		background: black

		.tab
			height: 10px
			padding: 10px
			display: table-cell
			width: auto
			sans(grande, light)
			line-height: 50px
			color: white
			text-align: center
			cursor: pointer

			&.active
			&:hover
				background: charcoal_dark
				border-radius: 05px 05px 0 0

			&:nth-child(1)
				width: 190px

				&.active
					background: charcoal_light

			&:nth-child(2)
				&.active
					background: charcoal_light

	&.no_nav
		nav
			display: none

	.panel
		width: 680px
		height: 310px

	.primary
		.summary
			width: 210px
			height: 310px
			float: left
			text-align: center
			background: charcoal_light

			.level
				position: relative
				width: 100%
				margin-top: 40px
				serif(normal, light, true)
				color: gray_light
				cursor: pointer

				.choices
					z-index: 100
					left: 20px

			.goal
				position: relative
				width: 100%
				sans(venti, light)
				color: white
				cursor: pointer

				&:hover
					text-decoration: underline

				.choices
					left: 20px

			.rating
				width: 210px
				height: 20px
				margin-top: 15px

				.star
					width: 20px
					height: 20px
					background: url("../images/icon-star.png")
					background-size: cover
					cursor: pointer

					&.active
						background: url("../images/icon-star_active.png")
						background-size: cover

					&.hover
						background: url("../images/icon-star_selected.png")
						background-size: cover

					&.selected
						background: url("../images/icon-star_selected.png")
						background-size: cover

			.popularity
				width: 210px
				height: 20px
				padding-top: 05px
				sans(tall, dark)
				color: gray_dark
				display: none

				.rank
				.total
					float: none
					color: gray_light


			.buy
				width: 170px
				height: 100px
				padding: 30px 20px 20px
				border-top: 1px solid charcoal_light_border
				margin-top: 40px
				.price
					width: 100%
					text-align: center

					.usd
						width: 100%
						serif(short, dark)
						color: gray_light

					.btc
						width: 100%
						value(tall, dark)
						color: white

				.add
					button(normal, custom)
					display: inline-block
					margin: 15px 0
					font-weight: 500
					color: white
					border: 1px solid gray_light

					&:hover
						background: gray_dark
						border: 1px solid gray_dark

		.dna
			width: 470px
			height: 150px
			float: right
			background: gray_light

		.attributes
			width: 410px
			height: 100px
			padding: 30px
			float: right
			background: white

			.id
				sans(short, dark)
				width: 100px
				-webkit-user-select: text
				-moz-user-select: text
				-ms-user-select: text
				user-select: text

			title
				width: 380px
				overflow: hidden
				white-space: nowrap
				value(normal, dark)

				&[placeholder]:empty:before
					color: gray_light

			.favorite
			.delete
				width: 20px
				height: 20px
				margin-bottom: -20px
				float: right
				text-align: right
				color: gray_light
				font-size: 15px
				cursor: pointer

			.favorite
				background: url("../images/icon-heart.png")
				background-size: cover

				&.active
					background: url("../images/icon-heart-active.png")
					background-size: cover

			.delete:hover
				color: gray_dark

			.description
				width: 100%
				max-height: 59px
				margin-top: 10px
				serif(short, dark)
				font-style: normal
				text-align: justify
				color: gray_light
				overflow: hidden

	.formulations
		.profile
			width: 349.5px
			height: 310px
			background: charcoal_light
			border-radius: 0 0 5px 0

			.mode
				width: 30px
				height: 30px
				float: left
				margin: 30px 0 0 30px

				&.inject
					background: url("../images/icon-syringe.png")
					background-size: cover

				&.capsule
					background: url("../images/icon-capsule.png")
					background-size: cover

			.dilution
				width: 120px
				float: left
				padding: 28px 0 0 20px
				serif(short, light)
				color: gray_light

			.id
				float: left
				padding: 0 0 0 20px
				value(normal, light)
				color: white

			& > .quantity
				float: right
				width: 115px
				padding: 28px 30px 0 0
				text-align: right

				.value
					value(grande, light)
					color: white

				mark
					padding-top: 15px
					value(normal, light)
					color: gray_dark

			.compounds
				width: 291px
				height: 157px
				padding: 20px 30px 0

				.compound
					width: 100%
					margin-bottom: -7.5px

					.icon
						width: 50px
						height: 40px
						float: left
						border-radius: 100px
						background: gray_dark

					.quantity
						float: left
						padding-left: 20px
						padding-top: 05px
						sans(short, dark)
						color: gray_light

					.density
						float: left
						padding-left: 20px //5px
						padding-top: 5px
						sans(short, light)
						color: gray_dark

					.name
						float: left
						width: 230px
						margin-top: -01px
						padding-left: 20px
						serif(tall, dark)
						color: gray_light

			.description
				width: 250px
				height: 40px
				padding-left: 30px
				padding-bottom: 30px
				padding-top: 10px
				float: left
				sans(short, light)
				text-align: justify
				line-height: 11px
				color: gray_dark

			.special
				width: 30px
				height: 30px
				margin: 12px 30px 0 0
				float: right
				background: url("../images/icon-done.png")
				background-size: cover

		.list
			width: 329px
			height: 310px
			float: right
			overflow-x: hidden
			overflow-y: auto
			dark_scroll()

			.formulation
				width: 329px
				height: 60px
				float: left
				padding-top: 01px
				border-bottom: 1px solid charcoal_dark_border
				cursor: pointer

				*
					cursor: pointer

				.icon
					width: 60px
					height: 20px
					float: left
					padding: 20px 0 0 30px

					.circle
						width: 20px
						height: 20px
						margin-right: -10px
						border-radius: 100px
						background: gray_light

				.id
					float: left
					padding: 22px 0 0 20px
					sans(grande, light)
					color: white

				.mode
					width: 20px
					height: 20px
					float: right
					margin: 20px 10px 0 0
					serif(short, light)
					color: gray_dark
					background: charcoal_light

					&.inject
						background: url("../images/icon-syringe.png")
						background-size: cover

					&.capsule
						background: url("../images/icon-capsule.png")
						background-size: cover


				& > .quantity
					float: right
					padding-top: 23px
					value(normal, light)
					color: white

				mark
					float: right
					padding: 27px 30px 0 0.250px
					sans(short, light)
					color: gray_dark

	.dose_schedule
		.instructions
			width: 250px
			height: 310px

			.day
				width: 200px
				height: 40px
				padding: 20px 0 20px 20px
				background: gray_dark
				border-radius: 5px 5px 0 0

				.previous
				.next
					width: 18px
					height: 18px
					margin-top: 10px
					value(normal, light)
					font-weight: 300
					line-height: 16px
					color: gray_light
					text-align: center
					border: 1px solid gray_light
					border-radius: 100px
					cursor: pointer

				.value
					width: 134px
					value(grande, dark)
					color: white
					text-align: center

				mark
					width: 10px
					margin: 0.750px 0 0 -05px
					serif(short, light)
					line-height: 10px
					color: gray_light

			.doses
				width: 220px
				height: 220px
				border-right: 1px solid charcoal_dark_border
				dark_scroll()
				overflow-x: hidden
				overflow-y: auto

				.dose
					width: 22px
					height: 73px
					float: left
					padding-top: 01px
					background: charcoal_light
					border-bottom: 1px solid charcoal_light_border

					.icon
						width: 110px
						height: 40px
						float: left
						padding: 20px 0 0 20px

						.circle
							width: 20px
							height: 20px
							margin-right: -05px
							border-radius: 100px
							background: gray_light
							sans(short, light)

					.id
						float: left
						padding: 03px 0 0 20px
						sans(tall, light)
						color: gray_light

					.mode
						width: 25px
						height: 25px
						float: right
						//clear: left
						margin: 2.250px 10px 0 0
						serif(short, light)
						color: gray_dark
						background: charcoal_light

						&.injection
							background: url("../images/icon-syringe.png")
							background-size: cover

						&.capsule
							background: url("../images/icon-capsule.png")
							background-size: cover


					.quantity
						float: right
						padding-top: 25px
						value(tall, light)
						color: white

					mark
						float: right
						padding: 35px 20px 0 0.250px
						value(short, light)
						color: gray_dark

		.calendar
			width: 430px
			height: 250px
			padding: 30px 0
			padding-right: 10px
			float: right

			.week
				width: 210px
				float: left

				&:nth-child(even)
					float: right

				.day
					width: 25px
					height: 27px
					serif(normal, light)
					text-align: center
					color: charcoal_light_border
					cursor: pointer

					&.active
						color: gray_light

					&:hover
						color: white

	.pharmacodynamics
		.graph
			width: 680px
			height: 220px
			background: gray_light

		.key
			width: 680px
			height: 100px
			padding: 2.5px 20px 20px 20px
			background: white

			.item
				float: left
				width: 320px
				height: 25px
				padding-top: 10px

				& > .icon
					width: 16px
					height: 16px
					margin-right: 10px
					border-radius: 100px


					&.red
						background: rgba(255, 67, 81, 1)

					&.blue
						background: rgba(27, 154, 247, 1)

					&.orange
						background: rgba(250, 136, 41, 1)

					&.yellow
						background: rgba(254, 211, 62, 1)

					&.green
						background: rgba(81, 230, 80, 1)

				.label
					sans(tall, dark)
					padding-top: 0.150px

.regimen
	module(14)
	float: right
	height: 430px
	background: charcoal_dark
	cursor: pointer
	overflow: visible

	*
		cursor: pointer

	& > .icon
		width: 80px
		height: 100%
		float: left

	.ident
		position: relative
		width: 600px
		height: 110px

		.id
			padding: 30px 0 0 30px
			sans(tall, light)
			color: gray_light

		.mode
			padding: 30px 0 0 10px
			sans(tall, light)
			color: gray_dark

		.density
			width: 100px
			height: 40px
			padding: 35px 0
			float: right
			text-align: center
			border-left: 1px solid charcoal_dark_border

			.value
				value(tall, light)
				color: gray_light

			mark
				sans(short, light)
				color: gray_dark

		.name
			width: 460px
			padding: 0 0 0 30px
			value(tall, light)
			color: white

		.alias
			width: 460px
			padding: 0 0 0 30px
			serif(normal, light, true)
			color: gray_dark

		.remove
			display: none
			width: 100px
			height: 110px
			position: absolute
			right: 0
			top: 0
			color: gray_light
			sans(venti, dark)
			line-height: 10px
			font-size: 30px
			font-weight: 200
			text-align: center
			background: charcoal_dark
			border-left: 1px solid charcoal_dark_border
			cursor: pointer

			&:hover
				color: white

		&:hover
			.remove
				display: inline-block


	.metrics
		width: 600px
		height: 160px
		float: left
		background: white

		& > *
			width: 159px
			height: 39px
			padding: 20px
			position: relative
			float: left
			border-right: 1px solid white_border
			border-bottom: 1px solid white_border

			.icon
				width: 40px
				height: 40px
				float: left
				margin-right: 10px
				background: gray_dark

			label
				width: 109px
				padding-top: 01px
				serif(normal, dark, true)
				color: gray_dark

			.value
				value(tall, dark)

			mark
				sans(normal, dark)
				padding-top: 11px
				padding-left: 02px
				line-height: 11px
				color: gray_dark

			.adjust
				width: 10px
				height: 40px
				position: absolute
				top: 20px
				right: 20px

				.up
				.down
					position: absolute
					border-left: 0.750px solid transparent
					border-right: 0.750px solid transparent
					cursor: pointer

				.up
					border-bottom: 0.750px solid white_border

				.down
					bottom: 0
					border-top: 0.750px solid white_border



		.active
			.icon
				background: url("../images/icon-plasma.png")
				background-size: cover

		.variance
			.icon
				background: url("../images/icon-variance.png")
				background-size: cover

			mark
				padding-top: 0

		.bioliquid_density
			.icon
				background: url("../images/icon-density.png")
				background-size: cover

		.frequency
			.icon
				background: url("../images/icon-prescription.png")
				background-size: cover

		.start
			.icon
				background: url("../images/icon-calendar.png")
				background-size: cover

		.duration
			.icon
				background: url("../images/icon-calendar2.png")
				background-size: cover

	.graph
		width: 600px
		height: 160px
		background: gray_light
		float: left

.add_button
	module(14)
	float: right
	height: 80px
	background: gray_dark
	cursor: pointer

	.icon
		width: 80px
		height: 80px
		sans(venti, dark)
		line-height: 80px
		font-size: 50px
		text-align: center
		color: gray_light
		background: charcoal_dark
		cursor: pointer

	label
		width: 510px
		height: 20px
		padding: 30px
		sans(venti, light)
		color: white
		cursor: pointer

	&:hover
		background: gray_light

		.icon
			color: white
			background: charcoal_light

.compound_chooser
	module(14)
	float: right
	height: 430px
	background: charcoal_dark
	cursor: pointer

	header
		padding: 0

		.search
			width: 260px
			margin: 25px 30px
			text-align: left

		.icon
			width: 110px
			height: 80px
			float: right
			sans(venti, dark)
			line-height: 80px
			font-size: 30px
			font-weight: 200
			text-align: center
			color: gray_light
			background: charcoal_dark
			cursor: pointer

			&:hover
				color: white

	.list
		width: 680px
		height: 350px
		dark_scroll()
		overflow-x: hidden
		overflow-y: auto

	.compound
		width: 680px
		height: 90px
		border-top: 1px solid charcoal_dark_border
		cursor: pointer

		*
			cursor: pointer
			no_select()

		.icon
			width: 80px
			height: 90px
			float: left

		.id
			padding: 20px 0 0 30px
			sans(tall, light)
			color: gray_light

		.mode
			padding: 20px 0 0 10px
			sans(tall, light)
			color: gray_dark

		.density
			width: 100px
			height: 90px
			//margin-right: 10px
			padding: 25px 0
			float: right
			text-align: center
			border-left: 1px solid charcoal_dark_border

			.value
				value(tall, light)
				color: gray_light

			mark
				sans(short, light)
				color: gray_dark

		.name
			width: 460px
			padding: 0 0 0 30px
			value(tall, light)
			color: white

		.alias
			width: 460px
			padding: 0 0 0 30px
			serif(normal, light, true)
			color: gray_dark

		&:hover
			background: charcoal_light

			.density
				border-left: 1px solid charcoal_light_border

.order
	module(14)
	float: right
	background: charcoal_dark

	header
		width: 620px
		height: 20px
		padding: 30px
		border-bottom: 1px solid charcoal_dark_border

		.id
			float: left
			sans(venti, light)
			color: gray_light

		.timestamp
			float: right
			serif(tall, light)
			color: gray_light
			text-align: right
			text-transform: none

	.cart
		width: 280px
		height: 450px
		float: left
		margin: 0

		.protocols
			width: 280px
			height: 270px
			margin-bottom: 30px
			padding-top: 20px
			padding-bottom: 30px
			border-bottom: 1px solid charcoal_dark_border
			background: charcoal_dark
			overflow-y: auto
			dark_scroll()

			.protocol
				width: 240px
				padding-bottom: 30px
				margin-bottom: 20px
				border-bottom: 1px dashed charcoal_light_border

				&:last-child
					padding-bottom: 0
					margin-bottom: 0
					border: none

				& > .id
					width: 220px
					serif(short, light)
					color: gray_dark !important

				.name
					width: 220px
					margin-bottom: 05px
					sans(grande, light)
					color: white
					overflow-x: hidden
					white-space: nowrap

			.formulation
				width: 220px
				height: 30px
				padding: 10px 0 0 40px

				.icon
					width: 50px
					float: left

					.circle
						width: 20px
						height: 20px
						float: left
						margin-right: -08px
						background: gray_light
						border-radius: 100px

						&:nth-child(1)
							background: light_blue

						&:nth-child(2)
							background: red

						&:nth-child(3)
							background: yellow

				.quantity
					float: right
					margin-top: 02px
					value(normal, dark)
					color: gray_light

				mark
					float: right
					margin-top: 05px
					//margin-right: 15px
					sans(short, dark)
					color: gray_dark

				.mode
					width: 20px
					height: 20px
					float: left
					//margin-left: 10px
					margin-right: 10px
					background: url("../images/icon-syringe.png")
					background-size: cover

				.id
					float: left
					margin-right: 10px
					value(normal, light)
					line-height: 20px
					color: gray_light

			.actions
				width: 120px
				height: 70px
				padding-top: 30px
				float: left

			.subtotal
				width: 100px
				height: 70px
				padding-top: 30px
				float: left

				.quantity
					width: 100px
					height: 32px

					.value
						margin-top: 0.150px
						float: right
						value(short, light)
						color: gray_light

					mark
						margin-left: 10px
						sans(tall, light)
						color: gray_dark

				.price
					width: 100px
					height: 40px

					.value
						width: 100%
						text-align: right

						&.usd
							serif(tall, light)
							color: gray_light

						&.btc
							value(tall, light)
							color: white


		.accessories
			width: 220px
			height: 140px
			padding: 30px 0
			background: charcoal_dark

			.item
				width: 100%


				.name, .quantity
					display: inline-block
					float: left
					sans(short, light)
					color: gray_light

				.quantity
					float: right

			.referral
				width: 80px

			.subtotal
				display: inline-block
				float: right

				&.usd
					margin-top: 10px
					serif(normal, light, true)
					color: gray_dark

				&.btc
					clear: right
					value(normal, light)
					color: gray_light

		.total_price
			margin-right: 30px
			float: right
			text-align: right

			&.btc
				clear: right
				value(tall, light)
				color: white

			&.usd
				margin-top: 20px
				serif(tall, light)
				color: gray_dark

	.fulfillment
		width: 400px
		height: 450px
		float: right
		padding: 0
		border-left: 1px solid charcoal_dark_border

		.status
			width: 340px
			height: 390px
			padding: 30px

			&:last-child
				border: none

			& > .icon
				width: 50px
				height: 50px
				float: left
				margin-right: 20px
				background: charcoal_dark_border

			& > .title
				width: 260px
				margin-top: 08px
				sans(venti, light)
				color: white

			.action
				width: 260px
				height: 15px
				serif(short, light)
				color: gray_dark

			&.active
				display: inline-block

			&.payment
				.icon
					background: url("../images/icon-payment.png")
					background-size: cover

				.subtotal
				.credit
				.total
					color: gray_dark

					label
						sans(tall, light)
						margin-left: 140px
						float: left

					.value
						value(short, light)
						float: right

				.subtotal
					width: 340px
					height: 10px
					padding-top: 20px

				.credit
					width: 340px
					height: 30px
					padding-top: 05px
					border-bottom: 1px solid charcoal_light

				.total
					width: 340px
					height: 40px
					padding-top: 10px
					color: white

					label
						margin-top: 05px
						sans(venti, light)

					.value
						value(tall, light)

				.pay
					float: left
					button(small, gray)
					margin: 20px 20px 0 0
					color: charcoal_dark
					text-decoration: none
					cursor: pointer

					&:hover
						color: black
						background: white

				.address
					width: 237px
					float: right
					margin-top: 20px
					padding: 0
					value(short, light)
					font-size: 10px
					line-height: 30px
					color: gray_light
					font-style: normal
					text-align: center
					text-transform: none
					cursor: text
					-webkit-user-select: text
					-moz-user-select: text
					-ms-user-select: text
					user-select: text

				.instructions
					width: 340px
					height: 70px
					padding-top: 30px
					serif(short, light)
					font-style: normal
					text-align: justify
					color: gray_dark

					strong
						sans(tall, light)
						color: gray_light

					a
						color: gray_light
						text-decoration: none

				.service
					width: 160px
					height: 90px
					padding: 15px 10px 0
					border-radius: 5px
					sans(short, dark)
					text-transform: uppercase
					text-align: center
					line-height: 12px

					.logo
						width: 120px
						height: 30px
						margin-bottom: 0.750px

					&.coinbase
						float: left
						padding-top: 20px
						font-weight: 400
						color: white
						background: rgb(43, 113, 177)

						.logo
							background: url("../images/logo-coinbase.png")
							background-repeat: no-repeat
							background-position: center
							background-size: contain

					&.circle
						float: right
						font-weight: 400
						color: charcoal_dark
						background: white

						.logo
							background: url("../images/logo-circle.png")
							background-repeat: no-repeat
							background-position: center
							background-size: contain

			&.formulating
				& > .icon
					background: url("../images/icon-formulating.png")
					background-size: cover

				.step
					width: 400px
					height: 30px
					padding-top: 30px

					.icon
						width: 40px
						height: 40px
						float: left
						margin-right: 10px
						opacity: 0.5
						background: url("../images/icon-todo.png")
						background-size: cover

					.title
						margin-top: 05px
						sans(tall, light)
						color: gray_light

					.description
						width: 290px
						serif(short, light)
						color: gray_dark

					.error
						margin-top: 11px
						color: red
						display: none

					&:nth-child(4)
						margin-top: 30px

					&.done
						.icon
							background: url("../images/icon-done.png")
							background-size: cover

			&.shipment
				& > .icon
					background: url("../images/icon-shipping.png")
					background-size: cover

				.delivery_day
					width: 340px
					height: 25px
					padding: 30px 0
					padding-bottom: 20px

					label
						width: 340px
						margin-bottom: 0.250px
						serif(tall, light)
						color: gray_light

					.value
						value(normal, light)
						color: white

				.infographic
					width: 340px
					height: 20px
					margin-bottom: 30px
					background: charcoal_light
					border-radius: 100px

					.bar
						width: 70%
						height: 20px
						background: gray_light
						border-radius: 100px

				.log
					width: 340px
					height: 205px
					overflow-x: none
					overflow-y: auto
					dark_scroll()

					.entry
						padding: 0.250px 0

						.timestamp
							width: 150px
							serif(short, light)
							color: gray_dark

						.value
							sans(short, light)
							color: gray_light

// Singletons -------------------- //
status-bar
	page_element()
	height: 30px
	background: darker

	main
		.status
			margin: 0 10px
			sans(tall, dark)
			line-height: 30px
			color: gray_dark

			.value
				display: inline-block
				padding-top: 7px
				margin-right: 20px
				sans(tall, light)
				color: white
				cursor: pointer

				&:last-child
					margin-right: 0

		.store_status
			float: left

		.account_status
			float: right

primary-menu
	page_element()
	height: 80px
	background: white

	main
		text-align: justify
		text-justify: distribute


		*
			display: inline-block
			margin: 0 36px

		.logo
			font-size: 25px
			font-family: "Gotham ScreenSmart" //"Surveyor ScreenSmart"
			font-weight: 900
			line-height: 80px

			.icon
				width: 50px
				height: 50px
				margin: 12px 25px 0 0
				background: url("../images/icon-logo.png")
				background-size: cover

		.option
			sans(grande, dark)
			line-height: 80px
			cursor: pointer

masthead
	page_element()
	height: 10px //240px
	margin-bottom: 20px
	background: gray_dark
	background-size: cover
	background-position: 0 -220px

	#masthead
		width: 100px
		height: 240px
		margin: 0 auto
		background-size: cover

#login
	module(6)
	float: left
	clear: left
	background: charcoal_dark

	.title
		width: 220px
		height: 20px
		padding: 30px
		sans(venti, light)
		text-align: center
		color: white
		border-bottom: 1px solid charcoal_dark_border

	.username
	.password
		width: 180px
		margin: 30px 30px 0
		text-align: center
		text-transform: none
		cursor: text

	.password
		margin-top: 20px

	.attemptLogin
		button(normal, gray)
		width: 160px
		margin: 25px 30px
		text-align: center
		font-weight: 500

		&:hover
			background: white

	.security
		width: 220px
		height: 100px
		padding: 0 30px 30px
		serif(normal, light)
		color: gray_dark
		text-align: justify

		strong
			width: 220px
			sans(venti, light)
			text-align: center
			color: gray_light

#protocolByID
	module(6)
	float: left
	clear: left
	background: charcoal_dark

	.protocolID
		width: 85px
		margin: 30px 0 30px 30px
		text-align: center
		text-transform: none
		cursor: text

	.search
		button(small, gray)
		width: 60px
		padding: 12px
		margin: 33px 15px 0
		text-align: center
		font-weight: 500

		&:hover
			background: white

#athlete_metrics_aside
	module(6)
	float: left
	clear: left
	background: charcoal_dark

section#newMember
	module(14)
	float: right
	background: charcoal_dark

	.title
		width: 620px
		height: 20px
		padding: 30px
		sans(venti, light)
		text-align: center
		color: white
		border-bottom: 1px solid charcoal_dark_border

	.credentials
		width: 400px
		height: 330px

		.welcome
			width: 400px
			height: 80px
			padding: 30px 30px 0
			serif(short, light)
			color: gray_dark
			text-align: justify

		.icon
			width: 30px
			height: 30px
			margin: 20px 55px 0 20px
			background: url("../images/icon-todo.png")
			background-size: cover
			opacity: 0.4

			&.ok
				background: url("../images/icon-done.png")
				background-size: cover

			&.fail
				background: url("../images/icon-fail.png")
				background-size: cover

			&#username
				margin-top: 60px

		.username
		.password
		.invitation
			width: 190px
			margin: 20px 0 0 65px
			text-align: center
			text-transform: none
			cursor: text

		.username
			margin-top: 60px

		.submit
			button(normal, gray)
			display: block
			width: 210px
			margin: 45px auto
			text-align: center
			font-weight: 500

			&:hover
				background: white

section#athlete_metrics
	module(14)
	float: right
	background: charcoal_dark

	.offset
		border-bottom: none

	.lean_body_mass
	.fat_free_mass_index
		width: 310px
		height: 160px
		padding 30px
		padding-left: 50px

		div:first-child
			margin-right: 30px
			float: left

		.icon
			width: 160px
			height: 160px
			border: 05px solid charcoal_dark_border
			border-radius: 20px
			background-image: none

		label
			serif(tall, light)
			color: gray_light

		.value
			width: 100px
			height: 32px
			padding: 0
			margin-top: 50px
			margin-right: 5px
			value(grande, light)
			color: white
			background: none
			border: 1px solid red

		mark
			margin-top: 66px
			value(normal, light)
			color: gray_dark

	.lean_body_mass
		border-bottom: 1px solid charcoal_dark_border

		.value
			width: 92px

#shopping_cart
	module(6)
	float: left
	clear: left
	background: charcoal_dark

	header
		width: 220px
		height: 20px
		padding: 30px
		sans(venti, light)
		color: white
		text-align: center
		border-bottom: 1px solid charcoal_dark_border

	.protocols
		width: 280px
		height: auto
		margin-bottom: 30px
		padding-top: 20px
		padding-bottom: 30px
		border-bottom: 1px solid charcoal_dark_border
		background: charcoal_dark

		.protocol
			width: 240px
			padding-bottom: 30px
			margin-bottom: 20px
			border-bottom: 1px dashed charcoal_light_border

			&:last-child
				padding-bottom: 0
				margin-bottom: 0
				border: none

			& > .id
				width: 220px
				serif(short, light)
				color: gray_dark !important

			.name
				width: 220px
				margin-bottom: 05px
				sans(grande, light)
				color: white
				overflow-x: hidden
				white-space: nowrap

		.formulation
			width: 180px
			height: 30px
			padding: 10px 0 0 40px

			.icon
				width: 50px
				float: left

				.circle
					width: 20px
					height: 20px
					float: left
					margin-right: -08px
					background: gray_light
					border-radius: 100px

					&:nth-child(1)
						background: light_blue

					&:nth-child(2)
						background: red

					&:nth-child(3)
						background: yellow

			.quantity
				float: right
				margin-top: 0px
				value(normal, dark)
				color: gray_light

			mark
				float: right
				margin-top: 05px
				//margin-right: 15px
				sans(short, dark)
				color: gray_dark

			.mode
				width: 20px
				height: 20px
				float: left
				//margin-left: 10px
				margin-right: 10px
				background: url("../images/icon-syringe.png")
				background-size: cover

			.id
				float: left
				margin-right: 10px
				value(normal, light)
				line-height: 20px
				color: gray_light

		.actions
			width: 100px
			height: 70px
			padding-top:20px
			float: left

			.quantity
			.edit
			.delete
				button(tiny, charcoal_line)
				width: 80px
				margin: 2.5px 0
				text-align: center

			.quantity
				margin-top: 0
				padding-left: 0
				padding-right: 0

				.up
				.down
					height: 19px
					width: 20px
					sans(venti, light)
					line-height: 20px
					background: charcoal_light_border
					cursor: pointer

				.up
					padding-left: 0.250px
					float: left
					border-top-left-radius: 10px
					border-bottom-left-radius: 10px

				.down
					padding-right: 0.250px
					float: right
					border-top-right-radius: 10px
					border-bottom-right-radius: 10px

		.subtotal
			width: 100px
			height: 70px
			padding: 20px
			float: left

			.quantity
				width: 100px
				height: 32px

				.value
					margin-top: 0.150px
					float: right
					value(short, light)
					color: gray_light

				mark
					margin-left: 10px
					sans(tall, light)
					color: gray_dark

			.price
				width: 100px
				height: 40px

				.value
					width: 100%
					text-align: right

					&.usd
						serif(tall, light)
						color: gray_light

					&.btc
						value(tall, light)
						color: white


	.accessories
		width: 220px
		height: 140px
		padding: 0 30px
		background: charcoal_dark
		border-bottom: 1px solid charcoal_dark_border

		.item
			width: 100%


			.name, .quantity
				display: inline-block
				float: left
				sans(short, light)
				color: gray_light

			.quantity
				float: right

		.referral
			width: 80px

		.subtotal
			display: inline-block
			float: right

			&.usd
				margin-top: 10px
				serif(normal, light, true)
				color: gray_dark

			&.btc
				clear: right
				value(normal, light)
				color: gray_light

	.total_price
		margin-right: 30px
		float: right
		text-align: right

		&.btc
			clear: right
			value(tall, light)
			color: white

		&.usd
			margin-top: 20px
			serif(tall, light)
			color: gray_dark

	.buy
		width: 140px
		height: 40px
		float: left
		margin: 20px 0 0 30px
		sans(venti, dark)
		line-height: 40px
		text-align: center
		//color: white
		background: white//light_blue
		border-radius: 100px

	.checkout
		.shipping
			width: 220px
			height: 310px
			padding: 0 30px
			border-bottom: 1px solid charcoal_dark_border

			label
				width: 220px
				margin: 30px 0 0
				sans(grande, light)
				color: gray_light

			.name
				width: 180px
				text-align: left

			.address
				width: 180px
				text-align: left
				font-style: normal

			.city
				width: 180px
				text-align: left

			.state
				width: 40px
				margin-right: 10px

			.zip
				width: 90px

		.payment
			width: 220px
			height: 130px
			padding: 30px

			label
				width: 220px
				margin-bottom: 10px
				sans(grande, light)
				color: gray_light

			.total
				width: 220px
				text-align: center

				&.usd
					margin-bottom: 05px
					serif(tall, light)
					color: gray_light

				&.btc
					value(grande, light)
					color: white

			.submit
				button(big, gray)
				width: 150px
				margin: 20px 10px 10px
				text-align: center

				&.active:hover
					background: white

				&.disabled
					padding-top: 20px
					font-size: 10px
					background: gray_dark

#search_criteria
	module(14)
	float: right
	background: charcoal_dark

	nav
		width: 130px
		height: 150px
		float: left

		.tab
			width: 90px
			height: 10px
			padding: 20px
			sans(tall, light)
			line-height: 10px
			color: gray_dark
			border-bottom: 1px solid charcoal_light_border
			background: charcoal_light
			cursor: pointer

			&.favorites .icon
				width: 15px
				height: 14px
				margin: -2.5px 7.5px 0 0
				background: url("../images/icon-heart.png")
				background-size: cover


			&.active
				color: white
				background: charcoal_dark
				//border-right: 1px solid charcoal_dark_border

			&:hover
				color: gray_light
				background: charcoal_dark

			&:nth-child(3)
				border: none

	.filters
		width: 549px
		height: 150px
		float: right

		.compounds
			width: 359px
			height: 35px
			float: left
			padding: 30px 0 20px 30px

			.compound
				height: 35px
				width: 50%
				float: left
				cursor: pointer

				*
					cursor: pointer

				.icon
					width: 35px
					height: 29px
					padding-top: 6px
					color: charcoal_dark
					text-align: center
					font-size: 20px
					line-height: 20px
					border: 2px solid gray_dark
					border-radius: 100px

				label
					width: 100px
					height: 30px
					margin: 04px 0 0 10px
					sans(tall, light)
					color: gray_dark
					overflow-x: hidden
					overflow-y: hidden

				&:nth-child(2)
					//border-left: 1px solid charcoal_dark_border

				&.active
					label
						color: gray_light

					.icon
						border: none

					&:hover
						.icon
							color: charcoal_light

		.length
			width: 180px
			height: 30px
			margin: 5px 0 30px 30px
			float: left
			clear: left

			.min
			.max
				width: 25px
				margin: 0
				float: left

			.max
				float: right

			.endash
			mark
				width: 50px
				height: 20px
				text-align: center
				color: gray_dark

			.endash
				margin-top: -10px
				value(grande, light)
				font-weight: 400

			mark
				sans(tall, light)

		.level
			display: inline-block
			height: 18px
			position: relative
			width: 110px
			float: right
			margin: 5px 0 30px 20px
			padding: 8px 20px
			float: left
			sans(grande, light)
			line-height: 18px
			text-align: center
			color: white
			border-radius: 5px
			background: charcoal_light

			.choices
				width: 90%
				z-index: 100
				top: -60px
				left: 0.750px

		.goals
			width: 110px
			height: 90px
			float: right
			padding: 30px 30px 30px 20px
			//border-left: 1px solid charcoal_dark_border

			.goal
				width: 130px
				height: 25px

				.checkbox
					width: 16px
					height: 16px
					sans(venti, dark)
					font-size: 14px
					font-weight: 600
					color: charcoal_light
					text-align: center
					line-height: 18px
					background: charcoal_light
					border-radius: .250px
					cursor: pointer

					&:hover
						background: charcoal_light_border

					&.active
						color: charcoal_light
						background: gray_light

						&:hover
							background: gray_light

				label
					padding-left: 05px
					sans(tall, light)
					line-height: 18px
					color: gray_light

#search_compounds
	module(14)
	float: right
	height: 230px
	background: charcoal_dark
	cursor: pointer

#account
	module(6)
	float: left
	clear: left
	background: charcoal_dark

	.username
		width: 220px
		height: 20px
		padding: 30px
		sans(venti, light)
		text-align: center
		color: white
		border-bottom: 1px solid charcoal_dark_border

	.balance
		width: 220px
		height: 50px
		padding: 30px
		color: gray_light
		border-bottom: 1px solid charcoal_dark_border

		.icon
			width: 50px
			height: 50px
			float: left
			margin-right: 20px
			background: url("../images/icon-wallet.png")

		label
			width: 220px
			height: 20px
			serif(tall, light)


		.value
			&.btc
				value(grande, light)
				color: white

			&.usd
				sans(tall, light)
				color: gray_dark

	.referal
		width: 220px
		height: 120px
		padding: 30px
		border-bottom: 1px solid charcoal_dark_border

		title
			sans(grande, light)
			color: gray_light

		.description
			width: 210px
			serif(short, light)
			color: gray_dark
			text-align: justify

		.code
			text_field(light)
			width: 130px
			height: 20px
			margin: 20px 25px 0
			value(normal, light)
			color: gray_light
			cursor: text
			-webkit-user-select: text
			-moz-user-select: text
			-ms-user-select: text
			user-select: text

	.invitations
		width: 220px
		height: 150px
		padding: 30px
		border-bottom: 1px solid charcoal_dark_border

		title
			sans(grande, light)
			color: gray_light

		.disclaimer
			width: 210px
			serif(short, light)
			color: gray_dark
			text-align: justify

		.code
			text_field(light)
			width: 130px
			height: 20px
			margin: 20px 25px 0
			value(normal, light)
			color: gray_light
			cursor: text
			-webkit-user-select: text
			-moz-user-select: text
			-ms-user-select: text
			user-select: text

		.generate
			button(small, charcoal)
			width: 130px
			margin: 15px 15px 0
			text-align: center

	.password
		width: 180px
		margin: 30px 30px 0
		text-align: center
		text-transform: none
		cursor: text

	.changePassword
		button(normal, charcoal)
		margin: 15px 47px 20px

	.security
		width: 220px
		height: 100px
		padding: 10px 30px 30px
		serif(normal, light)
		color: gray_dark
		text-align: justify

		strong
			width: 230px
			sans(venti, light)
			text-align: center
			color: gray_light

#messages
	module(6)
	height: 520px
	float: left
	clear: left
	background: charcoal_dark

	header
		width: 220px
		height: 20px
		padding: 30px
		sans(venti, light)
		text-align: center
		color: white
		border-bottom: 1px solid charcoal_dark_border

	.history
		width: 220px
		height: 200px
		padding: 30px 30px 10px
		serif(normal, light)
		overflow-x: hidden
		overflow-y: auto
		border-bottom: 1px solid charcoal_dark_border
		dark_scroll()

		.message
			width: 220px
			margin-bottom: 20px
			text-align: left

			.sender
				width: 190px
				margin-bottom: 05px
				serif(short, light)
				color: gray_dark

			.text
				width: 20px
				padding: 10px
				sans(short, light)
				color: gray_light
				text-align: justify
				background: charcoal_light
				border-radius: 5px

				&:after
					width: 10px
					height: 10px
					background: charcoal_light

			&.user
				text-align: right

				text
					background: charcoal_light_border

	.compose
		width: 220px
		height: 120px
		padding: 30px

		.textarea
			width: 220px
			padding: 05px 10px
			height: 80px
			margin-top: 0
			sans(short, light)
			text-align: left
			color: gray_light

			&[placeholder]:empty:before
				color: gray_dark

		.send
			button(small, charcoal)
			margin-top: 10px
			margin-left: 130px

/* Footer
-------------------------------------------------------------------------------*/
#footer_gap
	width: 100%
	height: 20px

footer
	page_element()
	margin-top: 20px
	background: charcoal_light

	main
		height: 40px




/* Media queries
-------------------------------------------------------------------------------*/
//@media screen and (max-width: 480px)




/* Print styles
-------------------------------------------------------------------------------*/
//@media print
