
<section id="orders" ng-show="visibleOrders">
  <div ng-repeat="order in orders" class="order">
    <header>
      <div class="id">Order: {{ order._id.split('_')[3]}}</div>
      <div class="timestamp">{{ order.date | date : format : longDate }}</div>
    </header>
    <div class="cart">
      <div class="protocols">
        <div ng-repeat="(id, item) in order.cart" class="protocol">
          <div class="id">X-{{ item.protocol._id.split('_')[1] }}</div>
          <div class="name">{{ item.protocol.title }}</div>
          <div ng-repeat="formulation in item.protocol.formulations" class="formulation">
            <div class="id">{{ formulation.id }}.</div>
            <mark>ml</mark>
            <div class="quantity">{{ formulation.totalVolume | number: 1 }}</div>
            <div class="mode"></div>
            <div class="icon">
              <div ng-repeat="(key, value) in formulation.compounds" ng-style="{'background-color': Compounds(key).color}" class="circle"></div>
            </div>
          </div>
          <div class="actions"></div>
          <div class="subtotal">
            <div class="quantity">
              <mark>Quantity:</mark>
              <div class="value">x{{ item.qty }}</div>
            </div>
            <div class="price">
              <div class="value usd">{{ item.protocol.priceUSD * item.qty | currency:"USD $":0 }}</div>
              <div class="value btc"><i class="fa fa-btc"></i>{{ item.protocol.priceUSD * item.qty * BTCrate() | number:3 }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="accessories">
        <div class="item">
          <div class="name">3ml Syringe with 25G x 1" needle</div>
          <div class="quantity">{{ order.accessoryQty }}</div>
        </div>
        <div class="item">
          <div class="name">Alcohol Prep Pad</div>
          <div class="quantity">{{ order.accessoryQty * 2 }}</div>
        </div>
        <div class="item">
          <div class="name">One Quart Sharps Container</div>
          <div class="quantity">1</div>
        </div>
        <div class="item">
          <div class="name">Expedited Shipping</div>
        </div>
        <input value="{{ order.referral }}" redonly="redonly" class="referral"/>
        <div class="subtotal usd">{{ order.accessoryPriceUSD | currency:"$":0 }} USD</div>
        <div class="subtotal btc"><i class="fa fa-btc"></i>{{ order.accessoryPriceUSD * BTCrate() | number:3 }}</div>
      </div>
    </div>
    <div class="fulfillment">
      <div ng-show="statusIsPayment($index)" class="status payment">
        <div class="icon"></div>
        <div class="title">Payment</div>
        <div class="action">Please add bitcoins to your account to complete this order.</div>
        <div class="subtotal">
          <label>Subtotal:</label>
          <div class="value"><i class="fa fa-btc"></i>{{ order.grandTotal * BTCrate() | number:3 }}</div>
        </div>
        <div class="credit">
          <label>Account Credit:</label>
          <div class="value"><i class="fa fa-btc"></i>{{ athlete.accountBalance | number:3 }}</div>
        </div>
        <div class="total">
          <label>Total:</label>
          <div class="value"><i class="fa fa-btc"></i>{{ (order.grandTotal * BTCrate()) - athlete.accountBalance | number:3 }}</div>
        </div><a ng-href="bitcoin:{{ athlete.BTCAddress }}?amount={{ (order.grandTotal * BTCrate()) - athlete.accountBalance | number:3 }}" class="pay">Pay</a>
        <div class="address">{{ athlete.BTCAddress }}</div>
        <div class="instructions"><strong>How do I get bitcoins?&nbsp;&nbsp;</strong>If you're new to bitcoin, we reccomend you use one of the services below. They provide an easy way to setup a bitcoin wallet and buy bitcoins with a US bank account or credit card. More information about bitcoin can be found at<a href="http://www.bitcoin.org">Bitcoin.org</a>.</div>
        <div class="service coinbase">
          <div class="logo"></div>Bank Account
        </div>
        <div class="service circle">
          <div class="logo"></div>Bank Account + Credit Card
        </div>
      </div>
      <div ng-show="statusIsFormulating($index)" class="status formulating">
        <div class="icon"></div>
        <div class="title">Formulation</div>
        <div class="action">Order formulation and preparation for shipment</div>
        <div class="step done">
          <div class="icon"></div>
          <div class="title">Order Recieved</div>
          <div class="description">Your order has been received and is in queue for formulation.</div>
        </div>
        <div ng-class="{ 'done': order.fulfillment.preparedMaterials }" class="step">
          <div class="icon"></div>
          <div class="title">Preparing Materials</div>
          <div class="description">We are preparing inventory to formulate your order.</div>
        </div>
        <div ng-class="{ 'done': order.fulfillment.formulatedProtocols }" class="step">
          <div class="icon"></div>
          <div class="title">Formulating Protocols</div>
          <div class="description">We are now formulating protcols for your order.</div>
        </div>
        <div class="step">
          <div class="icon"></div>
          <div class="title">Preparing To Ship</div>
          <div class="description">Your order is now being packaged and prepared for shipment.</div>
        </div>
      </div>
      <div ng-show="statusIsShipped($index)" class="status shipment">
        <div class="icon"></div>
        <div class="title">Shipping</div>
        <div class="action">Order shipment, tracking, and delivery.</div>
        <div class="delivery_day">
          <label>Estimated Delivery Day</label>
          <div class="value">{{ order.trackingInfo.deliveryDay | date:'fullDate' }}</div>
        </div>
        <div class="infographic">
          <div ng-style="{ width: shippingBarLength($index) }" class="bar"></div>
        </div>
        <div class="log">
          <div ng-repeat="log in order.trackingInfo.history" class="entry">
            <div class="timestamp">{{ log.date | date:'fullDate' }}</div>
            <div class="value">{{ log.status }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>