
<div ng-attr-id=" {{ protocol.id + '-' + $index }} " class="regimen">
  <div ng-style=" { 'backgroundColor': regimen.compound.color } " class="icon"></div>
  <div class="ident">
    <div class="id">{{ regimen.compound.id }}</div>
    <div class="mode">{{ regimen.compound.mode }}</div>
    <div class="density">
      <div class="value">{{ regimen.compound.density }}</div><br/>
      <mark>mg/ml</mark>
    </div>
    <div class="name">{{ regimen.compound.name }}</div>
    <div class="alias">{{ regimen.compound.alias }}</div>
    <div ng-click="protocol.removeComponent($index)" class="remove">×</div>
  </div>
  <div graph="graph" class="graph"></div>
  <div class="metrics">
    <div ng-mouseenter="activeTooltip = true" ng-mouseleave="activeTooltip = false" class="active">
      <div class="icon"></div>
      <label>Active Target</label>
      <div ng-model="regimen.adjustedActiveTarget" contenteditable="true" class="value"></div>
      <mark>mg</mark>
      <div ng-show="activeTooltip" class="tooltip top"><strong>Active Target</strong>is the average amount of active compound in blood serum<i>(not the amount injected)</i>. It is adjusted automatically to the ideal level for your FFMI but you're free to adjust it as needed.</div>
    </div>
    <div ng-mouseenter="variance_adjust_visible = true" ng-mouseleave="variance_adjust_visible = false" class="variance">
      <div class="icon"></div>
      <label>Variance</label>
      <div class="value">{{ regimen.variance | number:1 }}</div>
      <mark>±<br/>%</mark>
      <div ng-show="variance_adjust_visible" class="adjust">
        <div ng-click="increase_interval()" class="up"></div>
        <div ng-click="decrease_interval()" class="down"></div>
      </div>
      <div ng-show="variance_adjust_visible" class="tooltip top"><strong>Variance</strong>is how much active blood levels will fluctuate over time. Lower variance means more stable blood levels which improve results and reduce side effects.</div>
    </div>
    <div ng-mouseenter="densityTooltip = true" ng-mouseleave="densityTooltip = false" class="biolipid_density">
      <div class="icon"></div>
      <label>BioFluid Density</label>
      <div ng-model="regimen.density" contenteditable="true" class="value"></div>
      <mark>mg/ml</mark>
      <div ng-show="densityTooltip" class="tooltip top"><strong>Density</strong>is how concentrated the compound is in BioFluid. Higher concentrations allow for smaller doses but may cause inflamation in some athletes.</div>
    </div>
    <div ng-mouseenter="frequency_adjust_visible = true" ng-mouseleave="frequency_adjust_visible = false" class="frequency">
      <div class="icon"></div>
      <label>Frequency</label>
      <div class="value">{{ regimen.interval }}</div>
      <mark>Days</mark>
      <div ng-show="frequency_adjust_visible" class="adjust">
        <div ng-click="increase_interval()" class="up"></div>
        <div ng-click="decrease_interval()" class="down"></div>
      </div>
      <div ng-show="frequency_adjust_visible" class="tooltip top"><strong>Frequency</strong>defines how often you will take this compound. The default offers the lowest variance and best blood levels.</div>
    </div>
    <div ng-mouseenter="startDayTooltip = true" ng-mouseleave="startDayTooltip = false" class="start">
      <div class="icon"></div>
      <label>Start Day</label>
      <div ng-model="regimen.startDay" contenteditable="true" class="value"></div>
      <div ng-show="startDayTooltip" class="tooltip top"><strong>Start Day</strong>is the day you will take your first dose of this compound. Usually a loading dose is automatically calculated for the lowest variance.</div>
    </div>
    <div ng-mouseenter="duration_adjust_visible = true" ng-mouseleave="duration_adjust_visible = false" class="duration">
      <div class="icon"></div>
      <label>Duration</label>
      <div ng-model="regimen.duration" contenteditable="true" class="value"></div>
      <mark>Days</mark>
      <div ng-show="duration_adjust_visible" class="adjust">
        <div ng-click="increase_duration()" class="up"></div>
        <div ng-click="decrease_duration()" class="down"></div>
      </div>
      <div ng-show="duration_adjust_visible" class="tooltip top"><strong>Duration</strong>is the number of days you intend to take this compound.</div>
    </div>
  </div>
</div>