
<section id="search" ng-show="visibleSearch">
  <div ng-click="createNewProtocol()" class="add_button">
    <div class="icon">+</div>
    <label>Create A New Protocol</label>
  </div>
  <div id="search_criteria">
    <nav>
      <div ng-click="selectTab(1)" ng-class="{ active:isSelected(1) }" class="tab">Everything</div>
      <div ng-click="selectTab(2)" ng-class="{ active:isSelected(2) }" class="tab favorites">
        <div class="icon"></div>Favorites
      </div>
      <div ng-click="selectTab(3)" ng-class="{ active:isSelected(3) }" class="tab">My Protocols</div>
    </nav>
    <div class="filters">
      <div class="goals">
        <div class="goal">
          <div id="strength" ng-click="strength = !strength; search()" ng-class="{ active:strength }" class="checkbox">+</div>
          <label>Strength</label>
        </div>
        <div class="goal">
          <div id="hypertrophy" ng-click="hypertrophy = !hypertrophy; search()" ng-class="{ active:hypertrophy }" class="checkbox">+</div>
          <label>Hypertrophy</label>
        </div>
        <div class="goal">
          <div id="recomposition" ng-click="recomposition = !recomposition; search()" ng-class="{ active:recomposition }" class="checkbox">+</div>
          <label>Recomposition</label>
        </div>
        <div class="goal">
          <div id="performance" ng-click="performance = !performance; search()" ng-class="{ active:performance }" class="checkbox">+</div>
          <label>Performance</label>
        </div>
      </div>
      <div class="compounds">
        <div ng-class="{ active : searchCompounds[0] }" ng-click="toggleSearchCompound(0)" class="compound">
          <div ng-style=" { 'backgroundColor': searchCompoundColor(0), 'color': searchCompoundColor(0), } " class="icon">×</div>
          <label>{{ searchCompoundName(0) }}</label>
        </div>
        <div ng-class="{ active : searchCompounds[1] }" ng-click="toggleSearchCompound(1)" class="compound">
          <div ng-style=" { 'backgroundColor': searchCompoundColor(1), 'color': searchCompoundColor(1) } " class="icon">×</div>
          <label>{{ searchCompoundName(1) }}</label>
        </div>
      </div>
      <div class="length">
        <input ng-model="minDays" type="text" ng-blur="search()" class="min"/>
        <input ng-model="maxDays" type="text" ng-blur="search()" class="max"/>
        <div class="endash">–</div>
        <mark>Days</mark>
      </div>
      <div ng-click="search_experience_choices_visible = !search_experience_choices_visible" class="level">{{ experience }}
        <div ng-show="search_experience_choices_visible" class="choices">
          <div ng-click="experience = 'Beginner'; search()" class="choice">Beginner</div>
          <div ng-click="experience = 'Intermediate'; search()" class="choice">Intermediate</div>
          <div ng-click="experience = 'Advanced'; search()" class="choice">Advanced</div>
        </div>
      </div>
    </div>
  </div>
  <div ng-show="choose_compound" class="compound_chooser">
    <header>
      <input ng-model="compound_search" placeholder="Search" type="text" class="search"/>
      <div ng-click="choose_compound = false" class="icon">×</div>
    </header>
    <div ng-click="choose_compound = false" class="list">
      <div ng-repeat="compound in Compounds('list') | filter : compound_search" ng-click="chooseCompound(compound.id)" class="compound">
        <div ng-style=" { 'backgroundColor': compound.color } " class="icon"></div>
        <div class="id">{{ compound.id }}</div>
        <div class="mode">{{ compound.mode }}</div>
        <div class="density">
          <div class="value">{{ compound.density }}</div><br/>
          <mark>mg/ml</mark>
        </div>
        <div class="name">{{ compound.name }}</div>
        <div class="alias">{{ compound.alias }}</div>
      </div>
    </div>
  </div>
  <div id="search_results">
    <protocol ng-repeat="protocol in searchResults track by protocol._id"></protocol>
  </div>
</section>