#athlete_metrics_aside.animated(ng-show="visibleAthleteMetricsAside" ng-animate="{show: 'fadeIn', hide:'fadeOut'}")
	.lean_body_mass.metric.normal
		.icon
		.value {{ athlete.lbm | number : 1 }}
		mark kg
		label Lean Body Mass

	.fat_free_mass_index.metric.normal
		.icon
		.value(placeholder="00.00") {{ athlete.ffmi | number : 2 }}
		label Fat Free Mass Index

	.height.metric.small.editable
		.icon
		label Height
		.value(ng-model="athlete.height" contenteditable="true" placeholder="0.00")
		mark m

	.weight.metric.small.editable
		.icon
		label Weight
		.value(ng-model="athlete.weight" contenteditable="true" placeholder="00.0")
		mark kg

	.bodyfat.metric.small.editable
		.icon
		label Body Fat
		.value(ng-model="athlete.bodyFat" contenteditable="true" placeholder="00.0")
		mark &#37;

	.offset.metric.small.editable
		.icon
		label FFMI Offset
		.value(ng-model="athlete.ffmiOffset" type="number" contenteditable="true" placeholder="0.00")
