doctype html
html(class="no-js" lang="en" ng-app="lab")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
		meta(name="viewport" content="width=1050")
		link(rel="shortcut icon" href="favicon.ico")

		title Alpha

		link(rel="stylesheet" href="//raw.githubusercontent.com/daneden/animate.css/master/animate.min.css")
		link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css")
		link(rel="stylesheet" href="assets/css/style.css")

		script(src="https://cdn.pubnub.com/pubnub.min.js")
		script(src="https://code.jquery.com/jquery-2.1.3.min.js")
		script(src="https://code.angularjs.org/1.4.0/angular.min.js")
		script(src="https://live.amcharts.com/vendor/amcharts/amcharts.js")
		script(src="https://live.amcharts.com/vendor/amcharts/serial.js")
		script(src="https://cdn.rawgit.com/lodash/lodash/3.8.0/lodash.min.js")
		script(src="https://cdn.rawgit.com/aterrien/jQuery-Knob/master/dist/jquery.knob.min.js")
		script(src="https://cdn.rawgit.com/3nsoft/ecma-nacl/master/dist/lib-browser/ecma-nacl.min.js")
		
		script(src="assets/js/app.js")
		
		script(src="assets/js/PubNubService.js")
		script(src="assets/js/BTCService.js")
		script(src="assets/js/AthleteService.js")
		script(src="assets/js/CompoundService.js")
		script(src="assets/js/ProtocolService.js")
		script(src="assets/js/OrderService.js")

		script(src="assets/js/Protocol.js")
		script(src="assets/js/Order.js")
		script(src="assets/js/StatusBar.js")
		script(src="assets/js/PrimaryMenu.js")
		script(src="assets/js/Masthead.js")
		script(src="assets/js/Login.js")
		script(src="assets/js/NewMember.js")
		script(src="assets/js/Athlete.js")
		script(src="assets/js/Messages.js")
		script(src="assets/js/Search.js")
		script(src="assets/js/ProtocolByID.js")
		script(src="assets/js/Editor.js")
		script(src="assets/js/ShoppingCart.js")
		
	body
		status-bar
		primary-menu

		masthead
		main
			aside
				login
				athlete-metrics-aside
				protocol-by-id
				shopping-cart
				account
				messages

			new-member-section
			search-section
			editor-section
			athlete-metrics-section
			orders-section

		footer
			main
