section#newMember(ng-show="visibleNewMember")
	.title New Member Registration
	.height.metric.normal.editable
		.icon
		label Height
		input.value(ng-model="athlete.height" type="number" placeholder="0.00")
		mark m
	.weight.metric.normal.editable
		.icon
		label Weight
		input.value(ng-model="athlete.weight" type="number" placeholder="0.00")
		mark kg
	.bodyfat.metric.normal.editable
		.icon
		label Body Fat
		input.value(ng-model="athlete.bodyFat" type="number" placeholder="0.00")
		mark %
	.credentials
		input.username(ng-model="username" type="text" placeholder="USERNAME")
		.icon#username(ng-class="{ ok : usernameValid, fail : usernameInvalid }")
		input.password(ng-model="password" type="text" placeholder="PASSWORD")
		.icon#password(ng-class="{ ok : passwordValid }")
		input.invitation(ng-model="invitation" type="text" placeholder="INVITATION CODE")
		.icon#invitation(ng-class="{ ok : invitationValid, fail : invitationInvalid }")
		.submit.active(ng-click="requestMembership()" ng-class="{ spin : spin }") {{ buttonStatus() }}
			.spinner
				.bounce1
				.bounce2
				.bounce3
