#primary_menu
	main
		.logo
			.icon
			|ALPHA
		.option(ng-click="switchContext('Search')") Protocols
		.option(ng-click="switchContext('Search')") Materials
		.option(ng-click="switchContext('Athlete Profile')") Athlete Profile
		.option(ng-click="switchContext('Search')") How To Use
		.option(ng-click="") Blog